@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0; padding:0; border:0; outline:0; color:#333; font-family:'galmuri9'; font-size:15px; line-height:1.6; vertical-align:baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.6;}
ol,
ul,
li {list-style:none;}
blockquote,
q {quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
img {vertical-align:top;}
input[type=radio],
input[type=checkbox] {vertical-align:middle;}
input[type=text],
input[type=email],
input[type=password] {vertical-align:top;}
a,
a:hover,
a:active, 
a:focus {text-decoration:none; cursor:pointer;}
*,
*:before,
*:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}

body {min-width:320px; background:#f2f4f6;}

:root {
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    --box-shadow-set: 0 0 #0000;
}

/* layout */
.cntbody {position:relative; padding:0 3rem;}
@media (max-width: 1024px) {
    .cntbody {
        padding: 0 1.5rem;
    }
}

/* type_color */
.bg_grass {
    background: #66a945;
    border: 1px solid #66a945;
}

.bg_poison {
    background: #735198;
    border: 1px solid #735198;
}

.bg_fire {
    background: #e56c3e;
    border: 1px solid #e56c3e;
}

.bg_flying {
    background: #a2c3e7;
    border: 1px solid #a2c3e7;
}

.bg_water {
    background: #5185c5;
    border: 1px solid #5185c5;
}

.bg_bug {
    background: #9fa244;
    border: 1px solid #9fa244;
}

.bg_normal {
    background: #949495;
    border: 1px solid #949495;
}

.bg_electric {
    background: #f6d851;
    border: 1px solid #f6d851;
}

.bg_ground {
    background: #9c7743;
    border: 1px solid #9c7743;
}

.bg_fairy {
    background: #dab4d4;
    border: 1px solid #dab4d4;
}

.bg_fighting {
    background: #e09c40;
    border: 1px solid #e09c40;
}

.bg_psychic {
    background: #dd6b7b;
    border: 1px solid #dd6b7b;
}

.bg_rock {
    background: #bfb889;
    border: 1px solid #bfb889;
}

.bg_steel {
    background: #69a9c7;
    border: 1px solid #69a9c7;
}

.bg_ice {
    background: #6dc8eb;
    border: 1px solid #6dc8eb;
}

.bg_ghost {
    background: #684870;
    border: 1px solid #684870;
}

.bg_dragon {
    background: #535ca8;
    border: 1px solid #535ca8;
}